---
layout: archive
---


<style>
  body {
    font-size: 1.2em; /* Base font size for the entire page */
    margin: 0; /* Remove default margin */
    padding: 0 10px; /* Add padding to the left and right */
  }
  .container {
    max-width: 1200px; /* Set a maximum width for the container */
    width: 90%; /* Set the width to 90% of the container */
    margin: 0 auto; /* Center the container */
    padding: 0 20px; /* Add padding inside the container */
  }
  .text-box {
    border: 2px solid #ccc; /* Border for the text box */
    padding: 20px; 
    font-size: 1.2em; /* Increase font size for the text box */
    width: 100%;
    background-color: #0000; /* Background color for the text box */
  }
  .faq-section {
    font-size: 2em; /* Increase font size for the FAQ section */
  }
  .team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 columns for the first row */
    gap: 10px; /* Space between images */
    margin-bottom: 20px; /* Space below the image rows */
  }
  .team-container .team-member {
    text-align: center; /* Center align the text within each team member */
  }
  .team-container .team-member img {
    width: 100%;
    height: auto;
    display: block;
  }
  .team-name {
    font-size: 1em; /* Font size for team member names */
    color: #ffffff; /* Text color for team member names */
    margin-top: 5px; /* Space above the names */
  }

  

  .team-container.centered-row {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for the second row */
    justify-content: center; /* Center the second row */
  }
  
 
  /* Media Queries for Mobile Devices */
  @media (max-width: 600px) {
    .team-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
    .team-container.centered-row {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
    body {
      font-size: 1em; /* Adjust base font size for smaller screens */
    }
    .text-box {
      font-size: 1em; /* Adjust font size for the text box on smaller screens */
      padding: 15px; /* Adjust padding for smaller screens */
    }
    .faq-section {
      font-size: 1.5em; /* Adjust font size for the FAQ section on smaller screens */
    }

    
  }
</style>

{{ content }}






