---
layout: archive
---

{{ content }}

<style>
  body {
    font-size: 1.2em; /* Base font size for the entire page */
  }
  .text-box {
    border: 2px solid #ccc; /* Border for the text box */
    padding: 20px; /* Padding inside the text box */
    margin: 0px; /* Margin around the text box */
    font-size: 1.2em; /* Increase font size for the text box */
    width: 150%;
    background-color: #0000; /* Background color for the text box */
  }
  .faq-section {
    font-size: 2em; /* Increase font size for the FAQ section */
  }
  .faq-section h2, .faq-section h3, .faq-section h4, .faq-section h5, .faq-section h6 {
    font-size: inherit; /* Keep headings at their default size */
  }
  
</style>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}