---
layout: archive
---

{{ content }}

<style>
  body {
    font-size: 1.2em;
    margin: 20px;
    padding: 20px;
  }
  .text-box {
    border: 2px solid #ccc; /* Border for the text box */
    padding: 20px; 
    font-size: 1.2em; /* Increase font size for the text box */
    width: 100%;
    background-color: #0000; /* Background color for the text box */
  }
  .faq-section {
    font-size: 2em; /* Increase font size for the FAQ section */
  }
  
</style>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}